.idea/
server/src/app/demo/demo
server/src/app/gate/gate
server/src/app/logic/logic
client/websocket_kefu
server.pid
daemon
im_logic
im_http
im_gate
log.log
im_filegw
client/ios/Coffchat/Coffchat.xcodeproj/xcuserdata
client/ios/Coffchat/Pods
Podfile.lock
client/ios/Coffchat/Coffchat.xcworkspace/xcuserdata
client/win/.vs/
.vs/
client/win/tmp/
client/win/setup/Niuniu_NSIS_SetupSkin/FilesToInstall/
client/win/bin/cef_temp/
client/win/bin/coffeechat.exe
client/win/setup/Niuniu_NSIS_SetupSkin/Output/
client/win/cim/base/base.vcxproj.user
client/win/setup/Niuniu_NSIS_SetupSkin/SetupScripts/app.7z
client/win/cim/core/core.vcxproj.user
client/win/bin/coffeechat.pdb
client/win/bin/coffeechat.ilk
