<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
        <title>Frontend - Home</title>

        <meta name="description" content="AppUI - Frontend Template & UI Framework" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="assets/img/favicons/favicon.ico" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="assets/css/font-awesome.css" />
        <link rel="stylesheet" id="css-ionicons" href="assets/css/ionicons.css" />
        <link rel="stylesheet" id="css-bootstrap" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="assets/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="assets/css/app-custom.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <!-- Header logo -->
                                <a class="navbar-brand" href="javascript:void(0)">
                                    <img class="img-responsive" src="assets/img/logo/logo-frontend.png" title="AppUI" alt="AppUI" />
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                                <!-- Header search form -->
                                <form class="navbar-form navbar-right app-search-form" role="search">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" type="search" id="search-input" placeholder="Search..." />
                                            <span class="input-group-btn">
								<button class="btn" type="button"><i class="ion-ios-search-strong"></i></button>
							</span>
                                        </div>
                                    </div>
                                </form>

                                <!-- Header navigation menu -->
                                <ul id="main-menu" class="nav navbar-nav navbar-left">

                                    <li class="active">
                                        <a href="frontend_home.html">Home</a>
                                    </li>

                                    <li>
                                        <a href="frontend_about.html">About</a>
                                    </li>

                                    <li>
                                        <a href="frontend_pricing.html">Pricing</a>
                                    </li>

                                    <li>
                                        <a href="frontend_team.html">Team</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown">Pages <span class="caret"></span></a>
                                        <ul class="dropdown-menu">

                                            <li>
                                                <a href="frontend_search.html">Search</a>
                                            </li>

                                            <li>
                                                <a href="frontend_support.html">Support</a>
                                            </li>

                                            <li>
                                                <a href="frontend_contact.html">Contact</a>
                                            </li>

                                            <li>
                                                <a href="frontend_login_signup.html">Login / Signup</a>
                                            </li>

                                            <li>
                                                <a href="frontend_400.html">Error 400</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                                <!-- End header navigation menu -->
                            </div>
                        </div>
                        <!-- .container -->
                    </nav>
                    <!-- .navbar -->
                </header>
                <!-- End header -->

                <main class="app-layout-content">

                    <!-- Page header -->
                    <figure class="banner bg-img bg-app bg-inverse" data-height="500" style="background-image: url(assets/img/misc/frontend_header_bg.png)">
                        <figcaption class="banner-caption">
                            <div class="container">
                                <div class="row vcenter-md">
                                    <div class="col-md-5 col-md-push-7 text-center text-md-left">
                                        <h1 class="display-2 m-y">Introducing New App</h1>
                                        <p class="lead m-b-md">Munere dignissim euripidis nam cu. Nam semper dolorem honestatis cu, adhuc doctus mei ea. Mei recusabo consectetuer in.</p>
                                        <a class="btn btn-default btn-lg" href="javascript:void(0)">Purchase AppUI now</a>
                                    </div>
                                    <div class="col-md-6 col-md-pull-5 hidden-sm hidden-xs">
                                        <img class="img-responsive img-full" src="assets/img/misc/frontend_home1.png" alt="" />
                                    </div>
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .container -->
                        </figcaption>
                    </figure>
                    <!-- End page header -->

                    <div class="section bg-white">
                        <div class="container p-y-xl b-b">
                            <div class="row m-b-md">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="section-tag">Features</div>
                                    <h2 class="h1 display-2 m-t">Design with Ease</h2>
                                    <p>Consul pertinax oportere ut eos, option omnesque pro no. Vix eu nonumy vivendo volumus, soleat accusamus no nam.</p>
                                </div>
                            </div>
                            <!-- .row -->

                            <div class="row text-center">
                                <div class="col-md-4">
                                    <i class="ion-upload text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Cloud computing</h4>
                                    <p class="text-muted">At qui adipiscing omittantur, molestiae persequeris ea duo. Mel ei dignissim tincidunt voluptaria.</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="ion-archive text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Upload your data</h4>
                                    <p class="text-muted">Eos id error pericula scribentur, harum aeterno scribentur eam an. Equidem ancillae suscipit at.</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="ion-pie-graph text-muted fa-4x"></i>
                                    <h4 class="m-t-0">Advanced analytics</h4>
                                    <p class="text-muted">Albucius atomorum abhorreant sed id, eum postulant interesset ut, nam alii congue eu.</p>
                                </div>
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 class="h1 display-2 m-b">Cloud computing</h2>
                                    <p class="lead m-b-lg">Et oporteat pericula cum, libris quidam vix ne. Vix id facer lucilius maiestatis.</p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <img class="img-responsive" src="assets/img/misc/frontend_home2.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-push-7 text-center text-md-left">
                                    <h2 class="h1 display-2 m-b">Upload your data</h2>
                                    <p class="lead m-b-lg">Cum wisi possim ne, quis audiam his id. Mei aliquip appareat legendos in, ea vero tation per.</p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-pull-3">
                                    <img class="img-responsive" src="assets/img/misc/frontend_home3.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-white">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 class="h1 display-2 m-b">Advanced analytics</h2>
                                    <p class="lead m-b-lg">Usu ut diam primis tacimates, omnium efficiendi delicatissimi ea est. Malis congue id vis.</p>
                                    <p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)"><i class="ion-ios-cart m-r-xs"></i> Purchase for $14</a></p>
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <img class="img-responsive" src="assets/img/misc/frontend_home4.png" alt="" />
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-white hidden-sm hidden-xs">
                        <div class="container">
                            <div class="row m-b-md">
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="img-box">
                                        <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="" />
                                        <div class="img-text">
                                            <h2 class="h1 m-t-0">For developers</h2>
                                            <p class="m-b">Duo brute quaestio et. At laudem doming adipisci qui, vero nonumes lucilius vis te.</p>
                                            <a href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- .img-box -->
                                </div>
                                <!-- .col-md-4 -->
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="img-box">
                                        <img class="img-avatar" src="assets/img/avatars/avatar5.jpg" alt="" />
                                        <div class="img-text">
                                            <h2 class="h1 m-t-0">For designers</h2>
                                            <p class="m-b">Cu virtute appareat duo, tota assum summo duo at, sit no adolescens deseruisse.</p>
                                            <a href="javascript:void(0)">Take a tour <i class="ion-ios-arrow-right m-l-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- .img-box -->
                                </div>
                                <!-- .col-md-4 -->
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                    <div class="section p-y-xl bg-app bg-inverse">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <h2 class="h1 display-2">Try it for free</h2>
                                    <p class="lead">This form is a placeholder. Requests won't be proccessed. Vim delectus inciderint no.</p>
                                </div>
                            </div>
                            <!-- .row -->
                            <div class="row p-t-md p-b-lg">
                                <div class="col-md-10 col-md-offset-1">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputName2">Name</label>
                                            <input type="text" class="form-control input-lg" id="exampleInputName2" placeholder="Your name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email</label>
                                            <input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="email@example.com" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPass">Password</label>
                                            <input type="password" class="form-control input-lg" id="exampleInputPass" placeholder="Password" />
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-default btn-lg">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- .row -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .section -->

                </main>

                <footer class="app-layout-footer">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                        </div>
                        <div class="pull-left text-center text-md-left">
                            AppUI &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps card -->
                    <div class="card m-b-0">
                        <div class="card-header bg-app bg-inverse">
                            <h4>Apps</h4>
                            <ul class="card-actions">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                                        <i class="ion-speedometer fa-4x"></i>
                                        <p>Admin</p>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                                        <i class="ion-laptop fa-4x"></i>
                                        <p>Frontend</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- End Apps card -->
                </div>
            </div>
        </div>
        <!-- End Apps Modal -->

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="assets/js/core/jquery.min.js"></script>
        <script src="assets/js/core/bootstrap.min.js"></script>
        <script src="assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="assets/js/core/jquery.placeholder.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/app-custom.js"></script>

    </body>

</html>